@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

body {

}

.bcg {
background: rgba(34,34,34,.72);
	margin: 0rem;
	min-height: 100vh;
}

p {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

h3{
	font-size: 19px;
	font-family: 'aileron', sans-serif;
}

label{
	font-size: 17px;
	font-family: 'aileron', sans-serif;
}
h4{
    font-size: 11px;
	font-family: 'aileron', sans-serif;
    color: white;
}
          * {
              padding: 0;
              margin: 0;
          }

        /*����*/
        *:not(input, checkbox, textarea) {
            /*胼�罩∽��������*/
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            user-select: none;
            /* Non-prefixed version, currently */
        }

        .aymenu {
            position: fixed;
            z-index: 1;
            width: 500px;
            height: 300px;
            top: calc(50% - 180px);
            left: calc(50% - 180px);
            z-index: 999;
            background: url(https://avatars.mds.yandex.net/i?id=d427b955cd9457d49b54271e3cbbbe15b710a391-4290022-images-thumbs&n=13);
            border-radius: 12px;
            overflow: hidden;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    .tltbar {
  position: relative;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-top: -13px;
}

bcg-button {
            max-height: 11px;
            padding: 11px;
            border-radius: 8px;
            width: 226px;
            background-color: none;
            border: 1px solid white;
            color: white;
            position: absolute;
}
/* Style the tab */
.tab {
    overflow: hidden;
    width: 100%;
    background-color: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #c1c6c5;
    position: relative;
    left: 30%;
    color: black;
    border-radius: 10px;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 3px 12px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #2863FD;
    color: white;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #2863FD;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    overflow-y: scroll;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    height: 300px;
}
.nastr{
  position:relative;
  color:#0000c0;
  background-color: transparent;
  border: none;
  left:98%;
  top: -24px;
      }
 .nastr:hover{
   color:#2314ff;
   
      }
      
     .inf{
  position:fixed;
  display: none;
  background-color: white;
  width:150px;
  height:240px;
  left: 10%;
  top: px;
  border-radius: 3px;
  
      } 

 .close{
   position:relative;
   background:transparent;
   border:none;
   color:#aa8fd7;
   top:3px;
        left: -5px;
   
      }
      .nastric{
        position:relative;
        background-color:transparent;
        color:#aa8fd7;
        border:none;
        font-size:10px;
        top:3px;
        left: -5px;
        
      }
 .nastrhead{
position:relative;
  
  background-color: transparent;
  width:150px;
  height:30px;
  font-size: 10px;
  border-radius: 3px;
color:#aa8fd7;

      }
      .
aboutp{
        position:relative;
        top: -19px;
        left: 19px;
        font-family: 'Inter', sans-serif;
        font-weight:bold;
        font-size: 8px;
      }
.watr{
      background: linear-gradient(299deg, rgba(46,112,255,.59) 0.0%, #2e70ff 100.0%);
      width:100px;
      height:30px;
      text-align:center;
      color: white;
      position: fixed;
      border-radius:3px;
      text-align: top;
        
  }

.ggk{
     position: relative;
     left: 10%;
     background-color: #e38c8c;
     border-radius: 3px;
     border: 1px solid #707070;
     position: relative;
     height: 25px;
     width: 80%;
     text-align: center;
     color: white;
     margin: 2px;
    }
.van-button{
     background: linear-gradient(299deg, rgba(46,112,255,.59) 0.0%, #2e70ff 100.0%);
     border-radius: 3px;
     position: relative;
     height: 25px;
     width: 260px;
     text-align: center;
     color: white;
     margin: 2px;
    }
    